<script type="text/ng-template" id="date.html">
	<div>
		<md-checkbox ng-show="ctrl.nullable" class="md-primary" ng-checked="ctrl.dt" ng-click="ctrl.toggle()" aria-label="Checkbox 1">
			<h4 style="color: #5771ff;" ng-bind="ctrl.label"><strong>{{ctrl.label}}</strong></h4>
		</md-checkbox>
		<h4 ng-hide="ctrl.nullable" style="color: #5771ff;" ng-bind="ctrl.label"><strong>{{ctrl.label}}</strong></h4>
		<div ng-show="ctrl.type === 'FIXED' && ctrl.dt" ng-class="{'invalid-date' : !ctrl.dt || !ctrl.dt._dateObj, 'valid-date' : ctrl.dt && ctrl.dt._dateObj}" style="padding: 10px; border: 1px solid #e1e1e1;" layout="row" layout-align="center center">
			<form name="fform">
				<md-input-container>
					<md-datepicker
							ng-model="ctrl.dt._dateObj"
							md-placeholder="Enter date"
							ng-change="ctrl.dateChange(ctrl.dt)" required>
					</md-datepicker>
				</md-input-container>
			</form>
			<div ng-show="ctrl.dt.date" style="font-size: 15px; color: #0740C7; margin-left : 20px;">{{ctrl.dt.date | date : 'fullDate'}}</div>
		</div>
		<div ng-show="ctrl.type === 'RELATIVE' && ctrl.dt" ng-class="{'invalid-date' : rform.$invalid || ctrl.dt.rules.length === 0, 'valid-date' : !rform.$invalid && ctrl.dt.rules.length > 0}" style="border: 1px solid #e1e1e1;" >
			<form name="rform" layout="column" layout-align="center start">
				<table class="table table-condensed table-boredred table-striped">
					<caption>
						<button class="btn btn-info btn-xs" ng-click="ctrl.dt.rules.push(ctrl.createRule())">
							Add Rule
						</button>
						<button class="btn btn-danger btn-xs" ng-click="ctrl.dt.rules = []">
							Clear Rules
						</button>
					</caption>
					<thead>
						<tr>
							<th></th>
							<th>Position</th>
							<th>Years</th>
							<th>Months</th>
							<th>Days</th>
							<th>Relative To</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="rule in ctrl.dt.rules track by $index">
							<td style="vertical-align: middle; text-align: center;">
								<span  ng-show="$index !== 0"><strong>BUT NOT</strong></span>
							</td>
							<td>
								<md-input-container style="width : 100%;">
									<md-select ng-model="rule.position" required>
										<md-option ng-value="'BEFORE'" ng-disabled="rule.relativeTo.type === 'DOB'">Before</md-option>
										<md-option ng-value="'AFTER'">After</md-option>
									</md-select>
								</md-input-container>
							</td>
							<td>
								<md-input-container style="width : 100%;" >
									<input min='0' ng-model="rule.year" type="number" required>
								</md-input-container>
							</td>
							<td>
								<md-input-container style="width : 100%;" required>
									<input min='0' ng-model="rule.month" type="number" required>
								</md-input-container>
							</td>
							<td>
								<md-input-container style="width : 100%;" required>
									<input min='0' ng-model="rule.day" type="number" required>
								</md-input-container>
							</td>
							<td>
								<md-input-container style="width : 100%;" >
									<md-select ng-model="rule.relativeTo" ng-model-options="{trackBy: '$value.id'}" ng-change="ctrl.refType(rule)" required>
										<md-option ng-value="{ reference : 'static', id : 'DOB' }" ng-disabled="ctrl.birth">Birth</md-option>
										<md-option ng-value="{ reference : 'static', id : 'EVALDATE'}">Assessment Date</md-option>
										<md-option ng-repeat="event in ctrl.events track by $index" ng-if="event.vaccination.administred" ng-value="{ reference : 'dynamic', id : $index }">{{event.vaccination.administred.name}} - ID # {{$index}}</md-option>
									</md-select>
								</md-input-container>
							</td>
							<td>
								<div layout="column" layout-align="center center">
									<button class="btn btn-danger btn-xs">
										-
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</form>
		</div>
	</div>
</script>