<div ng-controller="ExecutionCtrl" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" style="padding: 0px; margin: 15px;">
                <div class="panel-heading col-md-12"  style="background-color: #293856;">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    <strong>Queue</strong>
                    <button ng-click="clear()" class="btn btn-xs btn-danger pull-right"  style="margin: 0px; margin-right: 10px;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                    <button ng-click="exe()" ng-show="canRun()" class="btn btn-xs btn-success pull-right"  style="margin: 0px; margin-right: 10px;">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="panel-body" style="padding: 0; padding-bottom: 0px;margin: 0;" >
                    <table class="table table-condensed table-striped table-bordered" style="height: 100%;">
                        <thead>
                            <td style="color: white; background-color: rgb(114, 114, 114);" ng-show="exec">Running On <strong>TCH FORECASTER</strong> at http://tchforecaster.com:8080/fc ... </td>
                        </thead>
                        <thead ng-hide="exec">
                            <td style="color: blue; text-align: center;"><strong>Configuration</strong></td>
                            <td style="color: blue; text-align: center;"><strong>Test Cases List</strong></td>
                        </thead>
                        <tr>
                            <td style="width: 30%;" ng-hide="exec">
                                <div layout="column" layout-align="center center" style="height: 100%;">

                                    <div ng-hide="addConfig" flex="20" layout="row" layout-align="center center">
                                        <md-input-container  style="margin-right: 10px; width: 200px;" >
                                            <label>Software</label>
                                            <md-select ng-model="selectedConfig">
                                                <md-option ng-value="'NIST'">My Machine</md-option>
                                                <md-option ng-value="'CDC'">Remote WebServ</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <button ng-click="addConfig = true;" class="btn btn-info" >
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                    <md-input-container ng-show="addConfig" flex="10" style="width: 100%; margin-top: 15px;">
                                        <label>Name</label>
                                        <input ng-model="configStub.name" type="text"/>
                                    </md-input-container>
                                    <md-input-container ng-show="addConfig" flex="10" style="width: 100%;">
                                        <label>End Point</label>
                                        <input ng-model="configStub.endPoint" type="text"/>
                                    </md-input-container>
                                    <md-input-container ng-model="configStub.connector" ng-show="addConfig" flex="10" style="width: 100%;">
                                        <label>Connector Type</label>
                                        <md-select ng-model="export.type" ng-change="typeChange();">
                                            <md-option ng-value="'TCH'">TCH</md-option>
                                            <md-option ng-value="'ICE'">ICE</md-option>
                                            <md-option ng-value="'FHIR'">FHIR</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div flex="10" ng-show="addConfig" style="width: 100%;" layout="row" layout-align="end center">
                                        <button ng-click="addConfig = false;" class="btn btn-success" >
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        </button>
                                        <button ng-click="addConfig = false;" class="btn btn-danger" >
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 70%;">
                                <table class="table table-condensed table-bordered" ng-class="{ 'fill' :  !tcQueue.length }" >
                                    <tbody dnd-list="tcQueue" dnd-drop="dragOver(index, item, external, type)">
                                        <tr ng-class="{'warning' :  tc._pgt === 'indeterminate', 'success' : tc._pg === 100}" ng-repeat="tc in tcQueue track by $index"
                                            dnd-draggable="tc"
                                            dnd-moved="dragMoved($index)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="models.selected = tc">

                                            <td ng-hide="exec" dnd-handle style="text-align : center; cursor: move; background-color: #cbcbcb;"><strong>:::</strong></td>
                                            <td style="text-align : center;"><strong>#{{tc.id}}</strong></td>
                                            <td style="text-align : center;"><strong>{{tc.name}}</strong></td>
                                            <td style="width: 40%;"><md-progress-linear md-mode="{{tc._pgt}}" value="{{tc._pg}}"></md-progress-linear></td>
                                            <td>
                                                <button ng-click="deleteTCL($index)" ng-hide="exec" class="btn btn-xs btn-danger pull-right"  style="margin: 0px; margin-right: 10px;">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-xs btn-info pull-right" ng-show="exec && tc._pg === 100" style="margin: 0px; margin-right: 10px;">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                                <span ng-show="exec && tc._pgt === 'indeterminate'" style="color: blue; text-align : center;">
                                                    Running ...
                                                </span>
                                            </td>
                                        </tr>
                                        <tr ng-hide="tcQueue.length === 0" class="dndPlaceholder">
                                            <td colspan="5" style="
                                                                    text-align: center;
                                                                      color: black;
                                                                      background-color: rgb(241, 251, 249);
                                                                      width: 100%;
                                                                      height: 100%;
                                                                      vertical-align: middle;
                                                                      border: 2px dashed black;">
                                                <strong>Drop Here</strong></td>
                                        </tr>
                                        <tr ng-show="tcQueue.length === 0">
                                            <td colspan="5" style="
                                                                    text-align: center;
                                                                      color: black;
                                                                      background-color: rgb(241, 251, 249);
                                                                      width: 100%;
                                                                      height: 100%;
                                                                      vertical-align: middle;
                                                                      border: 2px dashed black;">
                                                <strong>Drop Here</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="exec">
            <div class="panel panel-primary" style="padding: 0px; margin: 15px;">
                <div class="panel-heading col-md-12"  style="background-color: #293856;">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    <strong>Results</strong>
                </div>
                <div class="panel-body panel-resizable" layout="row" layout-align="center center">
                    <img src="images/ajax-loader.gif"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="exec">
        <div class="col-md-4">
            <div class="panel panel-primary" style="padding: 0px; margin: 15px;">
                <div class="panel-heading col-md-12"  style="background-color: #293856;">
                    <div class="col-md-3" style="padding: 0;">
                        <i class="glyphicon glyphicon-list"></i>
                        <strong> Test Cases </strong>
                    </div>
                    <div class="col-md-offset-2 col-md-7" style="padding: 0;">
                        <div class="input-group" style="width : 100%;">
                            <span class="input-group-addon"  style="background-color: rgb(240, 240, 240);" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" ng-model="tcSearch" ng-model-options="{ debounce: 500 }" style="padding-left: 10px; background-color: white; width : 100%;" placeholder=" Search By TestCase Name"/>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-resizable" style="height: 400px;">
                    <div style="white-space:nowrap;">
                        <div ui-tree="treeOptions">
                            <ol ui-tree-nodes="" dnd-list="tps"  dnd-drop="false" ng-model="tps">
                                <li data-nodrag ng-repeat="tp in tps track by $index" ui-tree-node>
                                    <div ui-tree-handle ng-click="selectTP(tp)" ng-class="{selected1 : isSelectedTP(tp)}">
                                        <div>
                                            <i data-nodrag ng-click="toggle(this)" class="fa" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"></i>
                                            <span data-nodrag>
                                                <span class="label label-sub-component label-icon">P</span>
                                                {{tp.name}}
                                            </span>
                                        </div>
                                    </div>
                                    <ol dnd-list="tp.testCases" dnd-drop="false" ui-tree-nodes="" ng-model="tp.testCases">
                                        <li data-nodrag ng-repeat="tc in tp.testCases | testcase:tcSearch track by $index" ui-tree-node ng-hide="$parentNodeScope.collapsed"
                                            dnd-draggable="tc"
                                            dnd-effect-allowed="move">

                                            <div ui-tree-handle ng-click="selectTC(tc)" ng-class="{selected1 : isSelectedTC(tc), inqueue : inQueue(tc)}">
                                                <span data-nodrag>
                                                    <span class="label label-component label-icon">T</span>
                                                    {{tc.name}}
                                                </span>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="panel panel-primary" style="padding: 0px; margin: 15px;">
                <div class="panel-heading" style="background-color: #293856">
                    <strong>Test View</strong>
                    <button ng-click="addQueue(selectedTC); exe()"ng-show="selectedTC && selectedConfig && tcQueue.length === 0" class="btn btn-xs btn-success pull-right"  style="margin: 0px;">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                    <button ng-click="addQueue(selectedTC)" ng-show="selectedTC && !inQueue(selectedTC)" class="btn btn-xs btn-info pull-right"  style="margin: 0px; margin-right: 10px;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="panel-body panel-resizable" style="padding-bottom: 10px; height : 100%; bottom : 0; min-height: 400px; background-color: #FAFAFA;">
                    <div ng-show="selectedTC">
                        <h1 style="border: 0; color: rgb(93, 93, 189);text-align: center; font-weight: bold;">{{selectedTC.name}}</h1>
                        <hr/>
                        <ng-include src="'views/testViewer.html'" />
                    </div>
                    <p ng-show="!selectedTC" style="text-align: center; margin-top: 10px;"><strong>No TestCase Selected</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>