<style id="antiClickjack">
body {
	display: none !important;
}

.handle-custom {
	background-color: red;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<span ng-show="!selectedTestPlan">No test case selected.</span>
<div ng-show="selectedTestPlan">
	<table class="table table-hover">
		<tr  ng-repeat="forecast in selectedTestPlan.forecast">
			<td style="cursor:pointer;" ng-click="selectForecast(forecast)" style="cursor: pointer;"
				ng-class="{'info' : forecastIsSelected(forecast)}">
				<strong>
					{{forecast.target.name}}
				</strong>
			</td>
		</tr>
	</table>
</div>
