<md-content id="tc" style="background-color: rgb(250, 250, 250);" class="md-padding">
    <h1 style="border: 0; color: rgb(93, 93, 189);text-align: center; font-weight: bold;" ng-hide="hideTcName">{{selectedTC.name}}</h1>
    <div>
        <h3 style="color: #3235ff;"><strong>Test Case Metadata</strong></h3>
        <div style="background-color: rgb(236,243,248);" class="md-padding">
            <table class="table table-condensed table-striped table-bordered" style="font-size : 13px;">
                <tr>
                    <td style="width : 250px;"><strong> Name </strong></td>
                    <td>{{selectedTC.name}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> ID </strong></td>
                    <td>{{selectedTC.uid}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> Group </strong></td>
                    <td>{{groupName(selectedTC.group)}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong>Description</strong></td>
                    <td>{{selectedTC.description}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> Last Changed in Test Plan Version </strong></td>
                    <td>{{selectedTC.metaData.version}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> Change Log </strong></td>
                    <td>{{selectedTC.metaData.changeLog}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> Date Created </strong></td>
                    <td>{{selectedTC.metaData.dateCreated | date:'MM/dd/yyyy' : 'UTC'}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> Date Last Updated </strong></td>
                    <td>{{selectedTC.metaData.dateLastUpdated | date:'MM/dd/yyyy' : 'UTC'}}</td>
                </tr>
                <tr>
                    <td style="width : 250px;"><strong> Type </strong></td>
                    <td>
                        {{selectedTC.metaData.imported ? 'Imported' : 'Created in FITS'}}
                    </td>
                </tr>
            </table>
        </div>
        <h3 style="color: #3235ff;"><strong>Test Case Data</strong></h3>
        <div style="background-color: rgb(236,243,248);" class="md-padding">
            <h3>Assessment Date and Patient Information</h3>
            <table class="table table-condensed table-striped table-bordered" style="font-size : 13px;">
                <tr>
                    <td style="width : 200px;"><strong> Assessment Date </strong></td>
                    <td ng-show="selectedTC.evalDate.type === 'fixed'">
                        {{selectedTC.evalDate.dateString}} - {{printDate(selectedTC.evalDate.dateString)}}
                    </td>
                    <td ng-show="selectedTC.evalDate.type === 'relative'">
                        Relative (Today)
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Date Of Birth </strong></td>
                    <td ng-if="selectedTC.patient.dob.type === 'fixed'">
                        {{selectedTC.patient.dob.dateString}} - {{printDate(selectedTC.patient.dob.dateString)}}
                    </td>
                    <td ng-if="selectedTC.patient.dob.type === 'relative'">
                        <table ng-if="selectedTC.patient.dob.rules">
                            <tr ng-repeat="rule in selectedTC.patient.dob.rules track by $index">
                                <td>{{rule.year}} <strong>Years</strong></td>
                                <td>{{rule.month}} <strong>Months</strong></td>
                                <td>{{rule.week}} <strong>Weeks</strong></td>
                                <td>{{rule.day}} <strong>Days</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Gender </strong></td>
                    <td>{{selectedTC.patient.gender === 'F' ? 'Female' : (selectedTC.patient.gender === 'M' ? 'Male' :
                        '') }}
                    </td>
                </tr>
            </table>
            <h3 ng-show="selectedTC.events.length > 0">Vaccination History and Expected Evaluations</h3>
            <table class="table table-condensed table-striped table-bordered"
                   ng-repeat="event in selectedTC.events track by $index" style="font-size : 13px;">
                <tr>
                    <td ng-show="event.administred.discriminator === 'generic'" colspan=2
                        style="color : blue;"><strong># {{event.position + 1}} -
                        {{event.administred.name}} - CVX : {{event.administred.cvx}}</strong>
                    </td>
                    <td ng-show="event.administred.discriminator === 'specific'" colspan=2
                        style="color : blue;"><strong># {{event.position + 1}} -
                        {{event.administred.name}} - </strong>{{getMapping(event.administred).vx.name}}
                        <strong> - CVX : {{getMapping(event.administred).vx.cvx}} - MVX :
                            {{event.administred.mx.mvx}}</strong></td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Date Administred </strong></td>
                    <td ng-if="event.date.type === 'fixed'">
                        {{event.date.dateString}} - {{printDate(event.date.dateString)}}
                    </td>
                    <td ng-if="event.date.type === 'relative'">
                        <table ng-if="event.date.rules" style="font-size : 13px;">
                            <tr ng-repeat="rule in event.date.rules track by $index">
                                <td><span ng-if="$index !== 0"><strong>BUT NOT BEFORE</strong></span></td>
                                <td>{{rule.year}} <strong>Years</strong></td>
                                <td>{{rule.month}} <strong>Months</strong></td>
                                <td>{{rule.week}} <strong>Weeks</strong></td>
                                <td>{{rule.day}} <strong>Days</strong></td>
                                <td><strong>{{rule.position}}</strong></td>
                                <td>
                                    <div ng-if="rule.relativeTo.reference === 'static'">
                                        {{rule.relativeTo.id === 'DOB' ? 'Birth' : rule.relativeTo.id === 'EVALDATE' ?
                                        'Assessment Date' : '#'}}
                                    </div>
                                    <div ng-if="rule.relativeTo.reference === 'dynamic'">
                                        Vaccination ID # {{rule.relativeTo.id}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Evaluations </strong></td>
                    <td>
                        <table class="table table-condensedtable-bordered" style="font-size : 13px;">
                            <tr layout="row">
                                <td flex="10"><strong> CVX </strong></td>
                                <td flex="40"><strong> Name </strong></td>
                                <td flex="20"><strong> Status </strong></td>
                                <td flex="30"><strong> Reason </strong></td>
                            </tr>
                            <tr ng-repeat="eval in event.evaluations" layout="row">
                                <td flex="10">{{eval.relatedTo.cvx}}</td>
                                <td flex="40">{{eval.relatedTo.name}}</td>
                                <td flex="20">{{valueForEnum(eval.status,evalStatus)}}</td>
                                <td flex="30">{{valueForEnum(eval.reason,evalReason)}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <h3 ng-show="selectedTC.forecast.length > 0">Expected Forecasts</h3>
            <table class="table table-condensed table-striped table-bordered"
                   ng-repeat="fc in selectedTC.forecast track by $index" style="font-size : 13px;">
                <tr>
                    <td colspan=2 style="color : blue;"><strong>{{fc.target.name}} # {{fc.target.cvx}}</strong></td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Series Status </strong></td>
                    <td>
                        {{valueForEnum(fc.serieStatus,serieStatus)}}
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Dose Number </strong></td>
                    <td>
                        {{fc.doseNumber}}
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Reason </strong></td>
                    <td>
                        {{fc.forecastReason}}
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Earliest Date </strong></td>
                    <td ng-if="fc.earliest.type === 'fixed'">
                        {{fc.earliest.dateString}} - {{printDate(fc.earliest.dateString)}}
                    </td>
                    <td ng-if="fc.earliest.type === 'relative'">
                        <table ng-if="fc.earliest.rules" style="font-size : 13px;">
                            <tr ng-repeat="rule in fc.earliest.rules track by $index">
                                <td><span ng-if="$index !== 0"><strong>BUT NOT BEFORE</strong></span></td>
                                <td>{{rule.year}} <strong>Years</strong></td>
                                <td>{{rule.month}} <strong>Months</strong></td>
                                <td>{{rule.week}} <strong>Weeks</strong></td>
                                <td>{{rule.day}} <strong>Days</strong></td>
                                <td><strong>{{rule.position}}</strong></td>
                                <td>
                                    <div ng-if="rule.relativeTo.reference === 'static'">
                                        {{rule.relativeTo.id === 'DOB' ? 'Birth' : rule.relativeTo.id === 'EVALDATE' ?
                                        'Assessment Date' : '#'}}
                                    </div>
                                    <div ng-if="rule.relativeTo.reference === 'dynamic'">
                                        Vaccination ID # {{rule.relativeTo.id}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Recommended Date </strong></td>
                    <td ng-if="fc.recommended.type === 'fixed'">
                        {{fc.recommended.dateString}} - {{printDate(fc.recommended.dateString)}}
                    </td>
                    <td ng-if="fc.recommended.type === 'relative'">
                        <table ng-if="fc.recommended.rules" style="font-size : 13px;">
                            <tr ng-repeat="rule in fc.recommended.rules track by $index">
                                <td><span ng-if="$index !== 0"><strong>BUT NOT BEFORE</strong></span></td>
                                <td>{{rule.year}} <strong>Years</strong></td>
                                <td>{{rule.month}} <strong>Months</strong></td>
                                <td>{{rule.week}} <strong>Weeks</strong></td>
                                <td>{{rule.day}} <strong>Days</strong></td>
                                <td><strong>{{rule.position}}</strong></td>
                                <td>
                                    <div ng-if="rule.relativeTo.reference === 'static'">
                                        {{rule.relativeTo.id === 'DOB' ? 'Birth' : rule.relativeTo.id === 'EVALDATE' ?
                                        'Assessment Date' : '#'}}
                                    </div>
                                    <div ng-if="rule.relativeTo.reference === 'dynamic'">
                                        Vaccination ID # {{rule.relativeTo.id}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Past Due Date </strong></td>
                    <td ng-if="fc.pastDue.type === 'fixed'">
                        {{fc.pastDue.dateString}} - {{printDate(fc.pastDue.dateString)}}
                    </td>
                    <td ng-if="fc.pastDue.type === 'relative'">
                        <table ng-if="fc.pastDue.rules" style="font-size : 13px;">
                            <tr ng-repeat="rule in fc.pastDue.rules track by $index">
                                <td><span ng-if="$index !== 0"><strong>BUT NOT BEFORE</strong></span></td>
                                <td>{{rule.year}} <strong>Years</strong></td>
                                <td>{{rule.month}} <strong>Months</strong></td>
                                <td>{{rule.week}} <strong>Weeks</strong></td>
                                <td>{{rule.day}} <strong>Days</strong></td>
                                <td><strong>{{rule.position}}</strong></td>
                                <td>
                                    <div ng-if="rule.relativeTo.reference === 'static'">
                                        {{rule.relativeTo.id === 'DOB' ? 'Birth' : rule.relativeTo.id === 'EVALDATE' ?
                                        'Assessment Date' : '#'}}
                                    </div>
                                    <div ng-if="rule.relativeTo.reference === 'dynamic'">
                                        Vaccination ID # {{rule.relativeTo.id}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width : 200px;"><strong> Latest Date </strong></td>
                    <td ng-if="fc.complete.type === 'fixed'">
                        {{fc.complete.dateString}} - {{printDate(fc.complete.dateString)}}
                    </td>
                    <td ng-if="fc.complete.type === 'relative'">
                        <table ng-if="fc.complete.rules" style="font-size : 13px;">
                            <tr ng-repeat="rule in fc.complete.rules track by $index">
                                <td><span ng-if="$index !== 0"><strong>BUT NOT BEFORE</strong></span></td>
                                <td>{{rule.year}} <strong>Years</strong></td>
                                <td>{{rule.month}} <strong>Months</strong></td>
                                <td>{{rule.week}} <strong>Weeks</strong></td>
                                <td>{{rule.day}} <strong>Days</strong></td>
                                <td><strong>{{rule.position}}</strong></td>
                                <td>
                                    <div ng-if="rule.relativeTo.reference === 'static'">
                                        {{rule.relativeTo.id === 'DOB' ? 'Birth' : rule.relativeTo.id === 'EVALDATE' ?
                                        'Assessment Date' : '#'}}
                                    </div>
                                    <div ng-if="rule.relativeTo.reference === 'dynamic'">
                                        Vaccination ID # {{rule.relativeTo.id}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</md-content>