<style id="antiClickjack">
body {
	display: none !important;
}

.handle-custom {
	background-color: red;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<div ui-tree="treeOptions">
	<ol ui-tree-nodes="" ng-model="selectedTP">
		<li ui-tree-node>
			<div ng-click="selectTP(selectedTP)" ui-tree-handle ng-class="{selected1 : isSelectedTPv()}"
			context-menu="tpCM">
				<div style="margin-left: 5px;">
					 <i data-nodrag ng-click="toggle(this)" class="fa" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"></i>
					<span data-nodrag> <span
						class="label label-sub-component label-icon">P</span> <span>{{selectedTP.name}} <span style="font-style: italic; color: #e09443;">({{selectedTP.testCases.length}} TC)</span></span>
					</span>
				</div>
			</div>
<!-- 			<ol ui-tree-nodes="" ng-model="tp.groups" ng-init="list = {};"> -->
<!-- 				<li ng-repeat="tg in tp.groups track by $index" ui-tree-node ng-hide="$parentNodeScope.collapsed" ng-show="(tg.children | testcase:tcSearch).length"> -->
<!-- 					<div ui-tree-handle > -->
<!-- 						<div style="margin-left: 5px;" context-menu="tgCM"> -->
<!-- 							<i data-nodrag ng-click="toggle(this)" class="fa" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"></i> -->
<!-- 							<span data-nodrag> <span -->
<!-- 									class="label label-group label-icon">G</span> <span ng-class="{ 'changedS' : tc.changed }">{{ tg.label }}</span> -->
<!-- 								<i ng-show="this.$modelValue===activeModel" -->
<!-- 								   class="fa fa-pencil fa-fw"></i> -->
<!-- 							</span> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<ol ui-tree-nodes="" ng-model="tg.children"> -->
<!-- 						<li ng-repeat="tcx in tg.children | testcase:tcSearch track by $index" ui-tree-node ng-hide="$parentNodeScope.collapsed"> -->
<!-- 							<div ng-click="selectTC(tcx)" ui-tree-handle ng-class="{selected1 : isSelectedTC(tcx)}" -->
<!-- 								 context-menu="tcCM" model="$index"> -->
<!-- 								<div style="margin-left: 5px;"> -->
<!-- 							<span data-nodrag> <span -->
<!-- 									class="label label-component label-icon">T</span> <span ng-class="{ 'changedS' : tcx.changed }">{{ tcx.uid ? '#'+tcx.uid+"- " : ""}}{{tcx.name}}</span> -->
<!-- 								<i ng-show="this.$modelValue===activeModel" -->
<!-- 								   class="fa fa-pencil fa-fw"></i> -->
<!-- 							</span> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</li> -->
<!-- 					</ol> -->
<!-- 				</li> -->
<!-- 			</ol> -->
			<ol ui-tree-nodes="" ng-model="selectedTP.testCases">
				<li collapsed="group === 'Ungrouped' ? false : true" data-collapsed="{{group === 'Ungrouped' ? false : true}}" ng-repeat="(group, tcs) in groupBy((selectedTP.testCases | testcase:tcSearch),'group') track by $index" ui-tree-node ng-hide="$parentNodeScope.collapsed">
					<div>
						<div style="margin-left: 5px;">
							<i data-nodrag ng-click="toggle(this)" class="fa" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"></i>
							<span data-nodrag> 
								<span class="label label-group label-icon">G</span><strong>{{ group ? group : 'No Group' }}</strong> <span style="font-style: italic; color: #e09443;">({{tcs.length}} TC)</span>
							</span>
						</div>
					</div>
					<ol ui-tree-nodes="" ng-model="tcs">
						<li ng-repeat="tc in ($parentNodeScope.collapsed ? [] : tcs)" ui-tree-node ui-tree-node ng-hide="$parentNodeScope.collapsed">
							<div ng-click="selectTC(tc)" ui-tree-handle ng-class="{selected1 : isSelectedTC(tc)}"
								 context-menu="tcCM" model="$index">
								<div style="margin-left: 5px;">
									<span data-nodrag> <span
											class="label label-component label-icon">T</span> <span style="font-weight: initial;" ng-class="{ 'unsaved' : tc._changed }">{{ tc.uid ? '#'+tc.uid+"- " : ""}}{{tc.name}}</span>
										<i ng-show="this.$modelValue===activeModel"
										   class="fa fa-pencil fa-fw"></i>
									</span>
								</div>
							</div>
						</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>
</div>

