<style id="antiClickjack">
    body {
        display: none !important;
    }

    .handle-custom {
        background-color: red;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<md-content>
    <md-tabs md-selected="$parent.view.tab" md-dynamic-height md-border-bottom>
        <md-tab label="Test Case Information">
            <ng-include src="'views/testView.html'" />
        </md-tab>
        <md-tab label="Reports">
            <md-content class="md-padding">
                <table ng-show="reportsFor(selectedTC.id).length > 0" class="table table-condensed table-striped table-hover">
                    <tr ng-repeat="item in reportsFor(selectedTC.id) | orderBy:'-executionDate' track by $index">
                        <td>
                            <div style="width: 100%;" layout="row" layout-align="start center">
                                <div flex="50" layout="row" layout-align="center">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>Date</td>
                                            <td>{{::item.executionDate | date:'medium'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Server</td>
                                            <td>{{::item.softwareConfig.endPoint}}</td>
                                        </tr>
                                        <tr>
                                            <td>Transport Type</td>
                                            <td>{{::item.softwareConfig.connector}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div flex="30" layout="column" class="unsaved" layout-align="center center">
                                    <div ng-show="changedTC(selectedTC,item)" flex>
                                        <i class="fa fa-exclamation-triangle "  aria-hidden="true"></i> TestCase has changed from the time this report was saved
                                    </div>
                                </div>
                                <div flex="20" layout="row" layout-align="end center">
                                    <div layout="column" layout-align="center">
                                        <button ng-click="deleteSavedReport(item,selectedTC.id,$index)" class="btn btn-xs btn-danger"  style="margin: 0px; margin-bottom: 5px;">
                                            <i class="fa fa-trash-o" style="font-size : 1.5em;" aria-hidden="true"></i> Delete
                                        </button>
                                        <button ng-click="showReport(item)" class="btn btn-xs btn-success"  style="margin: 0px; margin-bottom: 5px;">
                                            <i class="fa fa-eye" style="font-size : 1.5em;" aria-hidden="true"></i> View
                                        </button>
                                        <button ng-click="exportReport(item.id)" class="btn btn-xs btn-primary"  style="margin: 0px;">
                                            <i class="fa fa-file-o" style="font-size : 1.5em;" aria-hidden="true"></i> Download XML
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <p ng-show="reportsFor(selectedTC.id).length == 0"  style="text-align: center; margin-top: 10px;"><strong>No report has been saved for this test case.</strong></p>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>