<style id="antiClickjack">
body {
	display: none !important;
}

.handle-custom {
	background-color: red;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<!-- <span ng-show="!aTCisSelected()">No test case selected.</span> -->
<div>
	<md-list ng-cloak>
		<div ng-repeat="(group, events) in selectedTC.events | groupEvents">
			<md-list-item
					ng-repeat="ev in events track by $index"
					ng-click="selectEvent(ev)"
					style="cursor: pointer; height : 50px;"
					ng-class="{'sinfo' : isSelectedEvent(ev), 'fle' : $index === 0, 'le' : true}"
					context-menu="eventCM" model="$index" >

				<table style="width : 100%;">
					<tr>
						<td>
							<span class="badge sbadge" style="vertical-align:middle;" >Dose {{$index+1}}</span>
							<span style="background-color: green;" class="badge">ID # {{ev[ev._type].id}}</span>
						</td>
						<td style="margin-bottom : 0;" ng-hide="ev.vaccination.administred === null">
							<strong>{{ev.vaccination.administred.name}}</strong> -
							{{eventLabel(ev)}}
						</td>
						<td ng-show="ev.vaccination.administred === null">
							<strong>New Event</strong>
						</td>
					</tr>
				</table>

			</md-list-item>
		</div>

	</md-list>
<!-- 	<table class="table table-hover"> -->
<!-- 		<tr ng-repeat="event in selectedTC.events track by $index"> -->
<!-- 			<td ng-click="selectEvent(event)" style="cursor: pointer;" -->
<!-- 				ng-class="{'info' : isSelectedEvent(event)}" -->
<!-- 				context-menu="eventCM" model="$index"> -->
<!-- 				<strong> -->
<!-- 					{{event.vaccination.doseNumber}} # -->
<!-- 					{{event.vaccination.administred.name}} - -->
<!-- 					{{event.vaccination.date.fixed.date | date:'MM/dd/yyyy'}}  -->
<!-- 				</strong> -->
<!-- 			</td> -->
<!-- 		</tr> -->
<!-- 	</table> -->
</div>

