<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container" ng-controller="TestPlanCtrl" ng-init="initTestCases()">
    <div ng-show="isAuthenticated()">
        <div ng-show="!isPending()">
            <div class="row">
                <ol ng-show="!accordi.tpList" class="breadcrumb" style="margin-bottom: 0px;">
                    <li style="cursor: pointer;" ng-click="selectTP(selectedTP)" ng-if="aTPisSelected()"
                        ng-class="{'activeBC' : aTPisSelected() && !aTCisSelected()}">
                        <span class="label label-sub-component label-icon"
                              style="vertical-align:middle;">Test Plan</span> {{selectedTP.name}}
                    </li>
                    <li style="cursor: pointer;" ng-click="selectTC(selectedTC)" ng-if="aTCisSelected()"
                        ng-class="{'activeBC' : aTCisSelected() && !anEvisSelected() && !aFisSelected() && !aPisSelected()}">
                        <span class="label label-component label-icon" style="vertical-align:middle;">Test Case</span>
                        {{selectedTC.name}}
                    </li>
                    <li style="cursor: pointer;" ng-click="selectEvent(selectedEvent)" ng-if="anEvisSelected()"
                        class="activeBC">
                        <span class="label label-field label-icon " style="vertical-align:middle;">Event</span>
                        {{selectedEvent.administred.name}} -
                        {{eventLabel(selectedEvent)}}
                    </li>
                    <li style="cursor: pointer;" ng-click="selectForecast(selectedForecast)" ng-if="aFisSelected()"
                        class="activeBC">
                        <span class="label label-segment label-icon" style="vertical-align:middle;">Forecast</span>
                        {{selectedForecast.target.name}}
                    </li>
                    <li style="cursor: pointer;" ng-click="selectPatient()" ng-if="aPisSelected()" class="activeBC">
                        Assessment Date and Patient Information
                    </li>
                </ol>
                <!--<div ng-show="control.error.isSet">-->
                    <!--<div uib-alert class="alert-danger" close="dismissError()">-->
                        <!--<div style="width: 100%;" layout="row" layout-align="center center">-->
                            <!--<table flex="50" class="table table-condensed">-->
                                <!--<tbody ng-repeat="errorObj in control.error.list track by $index">-->
                                <!--<tr>-->
                                    <!--<td colspan="2" style="text-align: center;">-->
                                        <!--<strong>{{errorObj.action === 'IMPORT_NIST' ? 'Import Errors' : errorObj.action-->
                                            <!--=== 'SAVE_TC' ? 'Saving TestCase '+ errorObj.obj.name : 'Errors'}}</strong>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-repeat="e in errorObj.errors track by $index">-->
                                    <!--<td><strong>{{e.path}}</strong></td>-->
                                    <!--<td>{{e.message}}</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="pull-left">-->
                    <!---->

                <!--</div>-->

                <div layout="row" layout-align="end start" style="padding-right: 15px; padding-left: 15px;">
                    <div layout="row" flex="grow" layout-align="start start">
                        <span ng-show="accordi.tpList" class="header4" >Test Plans List</span>
                        <div md-whiteframe="2" ng-if="!accordi.tpList && aTCisSelected() && selectedTC.errors.length > 0" style="margin-right : 10px; margin-top : 10px; margin-bottom : 10px; width: 100%;">
                            <div  class="alert alert-warning" style="padding: 0; margin-bottom: 0px;">
                                <table class="table-condensed" style="width: 100%; margin: 0;">
                                    <thead>
                                        <tr>
                                            <th colspan="2" style="padding: 0;">
                                                <div style="width: 100%;" layout="row" layout-align="start center">
                                                    <div flex="20" layout="row" layout-align="start center" style="padding-left: 5px;">
                                                        <i class="fa fa-exclamation-triangle" style="font-size: 1.5em; color: #c09853;" aria-hidden="true"></i>
                                                    </div>
                                                    <div flex="60" layout="row" layout-align="center center" style="text-align: center;">
                                                        <strong>Incomplete Test Case</strong>
                                                    </div>
                                                    <div flex="20" layout="row" layout-align="end center">
                                                        <button class="btn btn-xs" style="margin: 0; border : 1px solid rgb(192, 152, 83);" ng-click="show_err = !show_err">
                                                            <md-tooltip md-direction="top">{{ show_err ? 'Hide' : 'Show'}}</md-tooltip>
                                                            <i ng-show="!show_err" class="fa fa-eye" aria-hidden="true" style="font-size : 1.4em;"></i>
                                                            <i ng-show="show_err" class="fa fa-eye-slash" aria-hidden="true" style="font-size : 1.4em; color: rgb(203, 167, 167);"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="show_err">
                                        <tr>
                                            <td style="text-align: center;"><strong>Location</strong></td>
                                            <td style="text-align: center;"><strong>Error Message</strong></td>
                                        </tr>
                                        <tr ng-repeat="e in selectedTC.errors track by $index">
                                            <td style="text-align: center;">{{e.path}}</td>
                                            <td style="text-align: center;">{{e.message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--<div layout="row" ng-show="accordi.tpDetails">-->
                            <!--<md-checkbox md-no-ink ng-show="accordi.tpDetails && aTPisSelected()" ng-model="autoSave.active" class="md-primary">-->
                                <!--Auto Save (refresh rate 10s)-->
                            <!--</md-checkbox>-->
                            <!--<span ng-show="autoSave.active" style="color : blue; margin-left: 5px;"><strong> Last Saved : {{autoSave.lastSave.getTime() | date:'HH:mm:ss'}}</strong></span>-->
                            <!--<div ng-show="autoSave.saving && autoSave.active" style="margin-left: 5px;">-->
                                <!--<i  class="fa fa-spinner fa-pulse"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div layout="row" flex="nogrow" layout-align="end start" >
                        <button ng-show="accordi.tpList" type="button" class="btn btn-info btn-sm" ng-click="newTestPlan()">
                            <i class="fa fa-plus"></i>
                            New
                        </button>
                        <button ng-show="accordi.tpDetails" title="View TestPlan List" type="button"
                                class="btn btn-sm btn-info" ng-click="closeTestPlanEdit()">
                            <span><i class="fa fa-list fa-fw"></i>List</span>
                        </button>
                        <button ng-show="aTPisSelected()" title="Import" type="button"
                                class="btn btn-sm btn-info" ng-click="importButton()">
                            <span><i class="fa fa-download fa-fw"></i>Import</span>
                        </button>
                        <button ng-show="accordi.tpDetails && aTCisSelected() && !selectedTC.changed" type="button" class="btn btn-info btn-sm" ng-click="exportNIST()">
                            <span><i class="fa fa-upload fa-fw"></i> Export</span>
                        </button>
                        <button title="Save Changes" type="button" class="btn btn-sm btn-success" ng-show="aTPisSelected()"
                                ng-click="saveAllChangedTestPlans()">
                            <span><i class="fa fa-floppy-o fa-fw"></i> Save</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-show="accordi.tpList" ng-include="'views/edit/listTP.html'"></div>
                <div ng-show="accordi.tpDetails" ng-include="'views/edit/editTP.html'"></div>
                <button ng-show="aTPisSelected()" ng-click="saveAllChangedTestPlans(selectedTC,selectedTP)"
                        class="md-fab md-button btn-success md-ink-ripple"
                        style="position: fixed !important; top : auto; bottom: 20px; right: 20px;">
                    <span><i class="fa fa-floppy-o fa-fw" style="font-size: 1.5em;"></i></span>
                    <md-tooltip md-direction="top">Save</md-tooltip>
                </button>
                <button ng-show="aTCisSelected()" ng-click="summary()"
                        class="md-fab md-button btn-primary md-ink-ripple"
                        style="position: fixed !important; top : auto; bottom: 20px; right: 80px;">
                    <span><i class="fa fa-file-text-o" style="font-size: 1.5em;" aria-hidden="true"></i></span>
                    <md-tooltip md-direction="top">Summary</md-tooltip>
                </button>
                <button ng-show="aTCisSelected()" ng-click="selectTC(selectedTC)"
                        class="md-fab md-button btn-info md-ink-ripple"
                        style="position: fixed !important; top : auto; bottom: 20px; right: 140px;">
                    <span><i class="fa fa-info" style="font-size: 1.5em;" aria-hidden="true"></i></span>
                    <md-tooltip md-direction="top">Test Case Information</md-tooltip>
                </button>
            </div>

        </div>

        <!--<div style="font-size: 18px;text-align: center" ng-show="isPending()">-->
        <!--<div msg key='account.pendingSection'></div>-->
        <!--</div>-->

    </div>

    <script type="text/ng-template" id="ConfirmTestPlanDeleteCtrl.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the TestPlan? This operation is irreversible</p>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-sm" ng-disabled="loading" ng-click="cancel()">
                <span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
            </button>
            <button class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="deleteTestPlan()">
                <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
            </button>
            <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
                <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>
            </div>
        </div>
        </div>
    </script>

    <script type="text/ng-template" id="ExitTC.html">
        <div class="modal-header fits-m-h">
            <h3 class="modal-title">Leaving Test Case Confirmation</h3>
        </div>
        <div class="modal-body fits-m-b" >
           <p>Your Test Case has unsaved changes</p>
        </div>
        <div class="modal-footer" layout="column" layout-align="center start">
            <md-checkbox ng-model="remember" aria-label="Remember my choice">
                Remember my choice (temporary)
            </md-checkbox>
            <div style="width: 100%;" layout="row" layout-align="start center">
                <button class="btn btn-success btn-sm" ng-disabled="loading" ng-click="saveChanges()">
                    <span><i class="fa fa-floppy-o fa-fw"></i> Save Now</span>
                </button>
                <button class="btn btn-danger btn-sm" ng-show="!canDiscard" ng-disabled="loading"
                        ng-click="discardChanges()">
                    <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Discard Changes</span>
                </button>
                <button class="btn btn-info btn-sm" ng-disabled="loading" ng-click="saveLater()">
                    <span>Save Later</span>
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ExitTab.html">
        <div class="modal-header fits-m-h">
            <h3 class="modal-title">Leaving Test Case Editor Confirmation</h3>
        </div>
        <div class="modal-body fits-m-b">
            <p>You are leaving the Test Plan editor with unsaved changes. If you don't save, all your unsaved changes will be lost.</p>
        </div>
        <div class="modal-footer" layout="column" layout-align="center start">
            <div style="width: 100%;" layout="row" layout-align="end center">
                <button class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="cancel()">
                    <span><i class="fa fa-trash-o fa-fw"></i>Leave without saving</span>
                </button>
                <button class="btn btn-success btn-sm" ng-show="!canDiscard" ng-disabled="loading"
                        ng-click="stay()">
                    <span>Stay</span>
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ImportSave.html">
        <div class="modal-header fits-m-h">
            <h3 class="modal-title">Import Test Cases</h3>
        </div>
        <div class="modal-body fits-m-b">
            <p>You have unsaved changes, please save your work before Importing Test Cases.</p>
        </div>
        <div class="modal-footer" layout="column" layout-align="center start">
            <div style="width: 100%;" layout="row" layout-align="end center">
                <button class="btn btn-success btn-sm" ng-disabled="loading" ng-click="save()">
                    <span><i class="fa fa-floppy-o fa-fw"></i> Save All Changes</span>
                </button>
                <button class="btn btn-info btn-sm" ng-disabled="loading" ng-click="saveLater()">
                    <span>Save Later</span>
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ErrorPanel.html">
        <div class="modal-header fits-m-h">
            <h3 class="modal-title"><i class="fa fa-exclamation-circle pull-left" style="color: red;" aria-hidden="true"></i> Errors</h3>
        </div>
        <div class="modal-body fits-m-b" style="text-align: center;">
            <div style="width: 100%;" layout="row" layout-align="center center">
                <table class="table table-condensed">
                    <tbody ng-repeat="errorObj in control.error.list track by $index">
                        <tr ng-repeat="e in errorObj.errors track by $index">
                            <td>{{e.path}}</td>
                            <td>{{e.message}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" layout="column" layout-align="center start">
            <div style="width: 100%;" layout="row" layout-align="end center">
                <button class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="ok()">
                    <span>Ok</span>
                </button>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="Block.html">
        <div class="modal-body" layout="row" layout-align="center center">
            <div flex="90" style="text-align: center; font-size: 16px;">
                <strong>
                    {{message}}
                </strong>
            </div>
            <div flex="10">
                <img src="images/import.gif" />
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="DTChange.html">
        <div class="modal-header fits-m-h">
            <h3 class="modal-title">Dates Type Change Confirmation</h3>
        </div>
        <div class="modal-body fits-m-b">
            <p>You are about to change dates type for this test case, please note that all dates will be lost</p>
        </div>
        </div>
        <div class="modal-footer">
            <div style="width: 100%;" layout="row" layout-align="end center">
                <button class="btn btn-success btn-sm" ng-disabled="loading" ng-click="continue()">
                    <span>Continue</span>
                </button>
                <button class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="abort()">
                    <span>Abort</span>
                </button>
            </div>
        </div>
        </div>
    </script>

    <div ng-show="!isAuthenticated()" style="font-size: 18px;text-align: center">
        <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You
            can also <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
    </div>





</div>
