<script type="text/ng-template" id="vaccinePicker.html">
	<div class="col-md-12 md-whiteframe-1dp md-whiteframe-z1" style="margin-top : 10px;">
		<div style="padding: 10px;">
			<table style="width: 100%;" ng-show="ctrl.model.discriminator === 'generic'">
				<tr>
					<td><img src="images/injection.png" /></td>
					<td style="margin-left: 10px;">
						<span style="background-color: red;" class="badge">G</span>
						<span style="background-color: green;" class="badge">CVX#{{ctrl.model.cvx}}</span> 
						</br>
						<span><strong>{{ctrl.model.name}}</strong></span></br>
						<span>{{ctrl.model.details}}</span>
					</td>
					<td>
						<button class="btn btn-xs pull-right" ng-click="ctrl.searchVx(selectedEvent)">
							<i style="font-size: 2em;" class="fa fa-search" aria-hidden="true"></i>
						</button>
						<button class="btn btn-xs pull-right" ng-click="ctrl.clearVx(selectedEvent)">
							<i style="font-size: 2em;" class="fa fa-times" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</table>
			<table style="width: 100%;" ng-show="ctrl.model.discriminator === 'specific'">
				<tr>
					<td><img src="images/injection.png" /></td>
					<td style="margin-left: 10px;">
						<span style="background-color: red;" class="badge">S</span>
						<span style="background-color: green;" class="badge">CVX#{{ctrl.getVx(ctrl.model).cvx}}</span> 
						<span style="background-color: blue;" class="badge">MVX#{{ctrl.model.mx.mvx}}</span> 
						</br>
						<span><strong>{{ctrl.model.name}}</strong></span></br>
						<span><strong>{{ctrl.getVx(ctrl.model).name}}</strong></span></br>
						<span><strong>By</strong> {{ctrl.model.mx.name}}</span></br>
						<span>{{ctrl.getVx(ctrl.model).details}}</span>
					</td>
					<td>
						<button class="btn btn-xs pull-right" ng-click="ctrl.searchVx(selectedEvent)">
							<i style="font-size: 2em;" class="fa fa-search" aria-hidden="true"></i>
						</button>
						<button class="btn btn-xs pull-right" ng-click="ctrl.clearVx(selectedEvent)">
							<i style="font-size: 2em;" class="fa fa-times" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</table>
			<table style="width: 100%;" ng-show="!ctrl.model">
				<tr>
					<td><img src="images/injection.png" /></td>
					<td style="margin-left: 10px; background-color : rgb(255, 230, 230); text-align : center; text-transform : uppercase;">
						Select Vaccine
					</td>
					<td>
						<button class="btn btn-xs pull-right" ng-click="ctrl.searchVx(selectedEvent)">
							<i style="font-size: 2em;" class="fa fa-search" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</script>