<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestPlanData.html">
	<md-content block-ui="editPanel">
		<md-tabs md-selected="tabs.selectedTabTP" md-dynamic-height md-border-bottom>
			<md-tab label="Test Plan Information">
				<md-content class="md-padding" ng-model-options="{updateOn : 'change blur'}">
					<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Name</label>
										<input ng-model="selectedTP.name" ng-change="changedTP(selectedTP)" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Version</label>
										<input ng-model="selectedTP.metaData.version" ng-change="changedTP(selectedTP)" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Creation Date</label>
										<md-datepicker ng-model="selectedTP.metaData._dateCreated" ng-change="dateChange(selectedTP.metaData,'dateCreated')" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Date Last Updated</label>
										<md-datepicker ng-model="selectedTP.metaData._dateLastUpdated" ng-change="dateChange(selectedTP.metaData,'dateLastUpdated')" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Description</label>
										<textarea style="background-color: rgb(241, 241, 241);" ng-change="changedTP(selectedTP)" ng-model="selectedTP.description" rows="5">
										</textarea>
									</md-input-container>
								</div>
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Change Log</label>
										<textarea style="background-color: rgb(241, 241, 241);" ng-change="changedTP(selectedTP)" ng-model="selectedTP.metaData.changeLog" rows="5">
										</textarea>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Import">
				<entity-import save="saveTP" tp="selectedTP"></entity-import>
			</md-tab>
		</md-tabs>
	</md-content>
</script>
<script type="text/ng-template" id="import.html">
	<md-content class="md-padding">
		<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
			<div layout="column" layout-align="center center">
				<div layout="row" layout-align="start center" style="width : 100%;">
					<md-input-container flex="80">
						<label>Format Type</label>
						<md-select ng-model="FORMAT">
							<md-option ng-repeat="format in ctrl.configs" ng-value="format.id">{{format.name}}</md-option>
						</md-select>
					</md-input-container>
					<div style="margin-left: 20px;" class="btn btn-sm btn-info" flex="20">
						<i class="fa fa-file pull-left" aria-hidden="true"></i>
						BROWSE
						<input style="width: 100%; height: 100%" multiple type="file" ng-if='isMulti()' class="upload" onchange="angular.element(this).scope().select(this.files)"/>
						<input style="width: 100%; height: 100%" type="file" ng-if='!isMulti()' class="upload" onchange="angular.element(this).scope().select(this.files)"/>
					</div>
				</div>
				<div layout="row" layout-align="center center" ng-if="selectedFiles.length > 0 && isMulti()" style="width : 100%; height : 50px; text-align: left;" >
					<span style="background-color: black; margin-left: 10px;" class="badge">{{selectedFiles.length}} Selected Files</span>
					<span style="background-color: green; margin-left: 10px;" class="badge">{{validFiles.length}} Valid Files</span>
					<span style="background-color: red; margin-left: 10px;" class="badge">{{selectedFiles.length - validFiles.length}} Invalid Files</span>
				</div>
				<div style="width : 100%; border : 1px solid black;" ng-if="selectedFiles.length > 0" >
					<md-list style="padding: 0;">
						<md-list-item layout="row" layout-align="start center" ng-repeat="file in selectedFiles" ng-style="$index !== selectedFiles.length -1 ? { 'border-bottom' : '1px solid #e4e4e4' } : {}"  ng-class="{ 'invalid-file' : !ctrl.isValid(file), 'valid-file' :  ctrl.isValid(file)}">
							<div flex="60">
								{{file.name}}
							</div>
							<div flex="30">
								<span ng-show="!ctrl.isValid(file)" style="color: red;">{{message}}</span>
							</div>
							<div flex="10" layout="row" layout-align="end center">
								<button ng-show="isMulti()" class="pull-right" ng-click="ctrl.rmFile($index)">
									<i style="color: red;"  class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>
						</md-list-item>
					</md-list>
				</div>
				<div ng-if="validFiles.length > 0 && FORMAT === ctrl.formats.CDC_SP" layout="column" layout-align="start start" style="width : 100%; border : 1px solid black; margin-top : 10px; padding: 20px;" >
					<form name="importConfig">
						<md-input-container style="width: 100%;">
							<label>Sheet Position</label>
							<input ng-model="exportConfig.position" min="1" type="number">
						</md-input-container>
						<div layout="row" layout-align="start end" style="width: 100%;">
							<md-radio-group flex="20" ng-model="exportConfig.all">
								<md-radio-button ng-value="true">Import All</md-radio-button>
								<md-radio-button ng-value="false">Select TestCases</md-radio-button>
							</md-radio-group>
							<div flex="80" ng-show="!exportConfig.all">
								<md-input-container style="width: 100%;">
									<label>Lines (e.g : 1-10;13;....) </label>
									<input ng-model="exportConfig.lines" ng-pattern="regex" min="0" type="text">
								</md-input-container>
							</div>
						</div>
						<md-input-container style="width: 100%;" >
							<label>Handling Unknown Products</label>
							<md-select name="sl" id="sl" ng-model="exportConfig.ignore">
								<md-option ng-value="true">Ignore</md-option>
								<md-option ng-value="false">Use CVX Only</md-option>
							</md-select>
						</md-input-container>
					</form>
				</div>
				<div style="width: 100%;" layout="row" layout-align="end center" ng-show="validFiles.length > 0">
					<button class="btn btn-success btn" ng-click="import()">
						Import
					</button>
				</div>
			</div>
		</form>
	</md-content>
</script>
<script type="text/ng-template" id="ImportSummary.html">
	<div class="modal-header fits-m-h">
		<h3 class="modal-title">Import Summary</h3>
	</div>
	<div class="modal-body fits-m-b" style="text-align: center; padding: 10px;">
		<table class="table table-condensed table-bordered" style="width: 100%;">
			<thead>
			<tr>
				<th style="text-align: center; background-color : white;">Test Cases Processed</th>
				<th style="text-align: center; background-color : white;">Test Cases Imported</th>
				<th style="text-align: center; background-color : white;">Test Cases With Errors</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td style="text-align: center; background-color : white; "><strong>{{summary.all}}</strong></td>
				<td class="valid-file" style="text-align: center;"><strong>{{summary.imported}}</strong></td>
				<td class="invalid-file" style="text-align: center;"><strong>{{summary.werrors}}</strong></td>
			</tr>
			</tbody>
		</table>
		<table class="table table-condensed table-bordered" style="width: 100%; margin: 0;" ng-repeat="file in summary.files" ng-init="file.showErr = false;">
			<thead>
			<tr ng-class="{ 'invalid-file' : file.errors.length > 0, 'valid-file' :  file.errors.length === 0}">
				<th>
					<div style="width: 100%; height: 40px;" layout="row" layout-align="start center">
						<div flex="80">
							<i ng-show="file.errors.length" class="fa fa-exclamation-circle" style="color: red;" aria-hidden="true"></i>
							<i ng-hide="file.errors.length" class="fa fa-check" style="color: green;" aria-hidden="true"></i>
							<span style="margin-right: 5px;"><strong>{{file.name}}</strong></span>
						</div>
						<div ng-show="file.errors.length" flex="20" layout="row" layout-align="end center">
							<button style="margin : 0px;" class="btn btn-xs pull-right"
									ng-click="file.showErr = !file.showErr">
								<i ng-show="!file.showErr" class="fa fa-eye" aria-hidden="true"
								   style="font-size : 1.5em; color: #2d5634;"></i>
								<i ng-show="file.showErr" class="fa fa-eye-slash" aria-hidden="true"
								   style="font-size : 1.5em; color: rgb(203, 167, 167);"></i>
							</button>
						</div>
					</div>
				</th>
			</tr>
			</thead>
			<tbody ng-if="file.errors.length" ng-show="file.showErr">
			<td>
				<table class="table table-condensed table-bordered" style="width: 100%;">
					<thead>
					<tr>
						<th style="text-align: center;">Location</th>
						<th style="text-align: center;">Error Message</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="error in file.errors">
						<td style="text-align: center;">
							<span ng-show="error.location">{{error.location}}</span></br>
							<span ng-show="error.line">Line   : {{error.line}}</span></br>
							<span ng-show="error.column">Column : {{error.column}}</span>
						</td>
						<td style="text-align: center;">
							{{error.message}}
						</td>
					</tr>
					</tbody>
				</table>
			</td>
			</tbody>
		</table>
	</div>
	<div class="modal-footer" layout="column" layout-align="center start">
		<div style="width: 100%;" layout="row" layout-align="end center">
			<button class="btn btn-info btn-sm" ng-click="dismiss()">
				<span>Ok</span>
			</button>
		</div>
	</div>
</script>
<script type="text/ng-template" id="ImportLoading.html">
	<div layout="column" layout-align="center center" style="padding : 10px;">
		<img src="images/import.gif" />
		<span>Please wait while we are importing TestCases</span>
	</div>
</script>