<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestPlanMetadata.html">
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Test Case Information">
				<md-content class="md-padding">         
					<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-8">
									<md-input-container style="width: 100%;">
										<label>Name</label>
										<input ng-model="selectedTC.name" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4 pull-right">
									<date-choose exclude="'EvalDate'" tc="selectedTC" label="'Evaluation Date'" dt="selectedTC.evalDate"></date-choose>
								</div>
								<div class="col-md-8">
									<md-input-container style="width: 100%;">
										<label>Description</label>
										<input ng-model="selectedTC.description" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Patient Information">
				<md-content class="md-padding">
					<form name="patientForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-8">
									<md-input-container style="width: 100%;">
										<label>Gender</label>
										<input ng-model="selectedTC.patient.gender" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4 pull-right">
									<date-choose  exclude="'DOB'" tc="selectedTC" label="'Date Of Birth'" dt="selectedTC.patient.dob"></date-choose>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="MetaData">
				<md-content class="md-padding">
					<form name="mdForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">	
								<div class="col-md-9">
									<md-input-container style="width: 100%;">
										<label>Version</label>
										<input ng-model="selectedTC.metaData.version" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-3">
									<md-input-container style="width: 100%;">
										<label>Date Created</label>
										<md-datepicker ng-model="selectedTC.metaData.dateCreated.fixed.obj" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
							</div>
							<div class="col-md-12">	
								<div class="col-md-9">
									<md-input-container style="width: 100%;">
										<label>Type</label>
										<input value="{{selectedTC.metaData.imported ? 'Imported' : 'Created'}}" ng-disabled="true" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-3">
									<md-input-container style="width: 100%;">
										<label>Date Last Updated</label>
										<md-datepicker ng-model="selectedTC.metaData.dateLastUpdated.fixed.obj" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</script>









<!-- <md-input-container style="width: 100%;"> <label>Date -->
<!-- 	Of Birth</label> <md-datepicker ng-model="selectedTC.patient.dob.fixed.obj" -->
<!-- 	md-placeholder="Enter date"></md-datepicker> </md-input-container> -->