<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditForecastData.html">

	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Forecast">
				<md-content class="md-padding">  

					<form name="vaccineForm" class="form-horizontal" novalidate>
						<div class="row">
				            <div class="col-md-12" style="margin-bottom : 20px;">
								<label class="col-md-12" style="color: rgb(117, 117, 139);">Target</label>	
								<vaccine-picker  vxm="vxm"  vxg="vxgs" model="selectedForecast.target"></vaccine-picker>
							</div>
							<div class="col-md-12">
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Series Status</label>
										<md-select ng-model="selectedForecast.serieStatus" ng-model-options="{trackBy: '$value'}" ng-change="serieStatusChange(selectedForecast.serieStatus,selectedForecast)">
											<md-option ng-repeat=" enum in serieStatus " ng-value="enum.code">{{enum.details}}</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Dose Number</label>
										<input ng-model="selectedForecast.doseNumber" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Forecast Reason</label>
										<input ng-model="selectedForecast.forecastReason" type="text"/>
									</md-input-container>
								</div>
							</div>
							<div ng-show="needDates(selectedForecast.serieStatus)">
								<date-choose class="col-md-12" exclude="''" style="margin-bottom: 10px;" nullable="false" type="selectedTC.dateType" label="'Earliest'" dt="selectedForecast.earliest" events="selectedTC.events"></date-choose>
							</div>
							<div ng-show="needDates(selectedForecast.serieStatus)">
								<date-choose class="col-md-12" exclude="''" style="margin-bottom: 10px;" nullable="false" type="selectedTC.dateType" label="'Recommended'" dt="selectedForecast.recommended" events="selectedTC.events"></date-choose>
							</div>
							<div ng-show="needDates(selectedForecast.serieStatus)">
								<date-choose class="col-md-12" exclude="''" style="margin-bottom: 10px;" nullable="true" type="selectedTC.dateType" label="'Past Due'" dt="selectedForecast.pastDue" events="selectedTC.events"></date-choose>
							</div>
							<div ng-show="needDates(selectedForecast.serieStatus)">
								<date-choose class="col-md-12" exclude="''" style="margin-bottom: 10px;" nullable="true" type="selectedTC.dateType" label="'Latest'" dt="selectedForecast.complete" events="selectedTC.events"></date-choose>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</script>