<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<ng-include src="'views/edit/editTestPlan.html'"></ng-include>
<ng-include src="'views/edit/editEvent.html'"></ng-include>
<ng-include src="'views/edit/editTestCaseGroup.html'"></ng-include>
<ng-include src="'views/edit/editTestCase.html'"></ng-include>
<ng-include src="'views/edit/editTestStep.html'"></ng-include>
<div class="row" ng-show="!selectedTestPlan">
	<div class="col-md-12">
		<p>No Test Case Selected.</p>
	</div>
</div>
<div ng-show="selectedTestPlan">
	<div class="row">
		<div ng-show="!hideLoe" class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading panel-heading-collapsable"
					style="background-color: #293856;">
					<i class="glyphicon glyphicon-list"></i> <strong>List of
						events</strong>
					<button title="Add Event" type="button"
						class="btn btn-xs btn-default pull-right"
						style="margin: 0px; background-color: #eeeeee;"
					    data-toggle="dropdown">
						<span><i class="fa fa-plus fa-fw"></i></span>
					</button>
					<ul class="dropdown-menu" role="menu">
                        <li><a class="point" ng-click="exportResourceBundleZip()">Vaccination</a></li>
                    </ul>
				</div>
				<div class="panel-body">
					<div class="toc-container">
						<ng-include src="'views/toc.html'" />
					</div>
				</div>
			</div>
			<br />
			<div class="panel panel-warning">
				<div class="panel-heading panel-heading-collapsable"
					style="background-color: #4c70bb;">
					<i class="glyphicon glyphicon-list"></i> <strong>Expected
						Forecasts</strong>
					<button title="Add Forecast" type="button"
						class="btn btn-xs btn-default pull-right"
						style="margin: 0px; background-color: #eeeeee;"
						ng-click="backToGeneral()">
						<span><i class="fa fa-plus fa-fw"></i></span>
					</button>
				</div>
				<div class="panel-body">
					<div class="toc-container">
					<ng-include src="'views/forecasts.html'" />
					</div>
				</div>
			</div>
		</div>




		<div
			ng-class="{'col-md-9': !hideToc, 'col-md-11 col-98-5-percent':hideToc}">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: #293856">
					<strong>Dashboard</strong>
					<button title="Back to Test Case Metadata" type="button"
						 ng-hide="isMDview()"
						 class="btn btn-xs btn-default pull-right" style="margin:0px;background-color:#eeeeee;"
						ng-click="backToGeneral()">
						<span>Back</span>
					</button>
				</div>
				<div class="panel-body"
					style="padding-bottom: 100px height:200px;">
					<div class="col-md-12"
						ng-show="subview === null||subview===undefined|| !subview">
						<p>No Element Selected</p>
					</div>

					<div id="edit" ng-show="subview !== undefined" style="width: 100%">
						<ng-include src="subview"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>