<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditForecastData.html">

	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Forecast">
				<md-content class="md-padding">  

					<form name="vaccineForm" class="form-horizontal" novalidate>
						<div class="row">
				            <div class="col-md-12" style="margin-bottom : 20px;">
								<label class="col-md-12" style="color: rgb(117, 117, 139);">Target</label>	
								<vaccine-picker  vxm="vxm"  vxg="vxgs" model="selectedForecast.target"></vaccine-picker>
							</div>
							<div class="col-md-12">
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Serie Status</label>
										<md-select ng-model="selectedForecast.serieStatus" ng-model-options="{trackBy: '$value'}" ng-change="tcChanged()">
											<md-option ng-repeat=" enum in serieStatus " ng-value="enum.code">{{enum.details}}</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Dose Number</label>
										<input ng-model="selectedForecast.doseNumber" ng-change="tcChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Forecast Reason</label>
										<input ng-model="selectedForecast.forecastReason" ng-change="tcChanged()" type="text"/>
									</md-input-container>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4" ng-show="selectedForecast.serieStatus !== 'C'">
									<date-choose  tc="selectedTC" label="'Earliest'" dt="selectedForecast.earliest"></date-choose>
								</div>
								<div class="col-md-4" ng-show="selectedForecast.serieStatus !== 'C'">
									<date-choose  tc="selectedTC" label="'Recommended'" dt="selectedForecast.recommended"></date-choose>
								</div>
								<div class="col-md-4" ng-show="selectedForecast.serieStatus !== 'C'">
									<date-choose  tc="selectedTC" label="'Past Due'" dt="selectedForecast.pastDue"></date-choose>
								</div>
							</div>
							<div class="col-md-12" style="margin-top: 10px;">
								<div class="col-md-offset-4 col-md-4" ng-show="selectedForecast.serieStatus !== 'C'">
									<date-choose  tc="selectedTC" label="'Complete'" dt="selectedForecast.complete"></date-choose>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</script>