<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<ng-include src="'views/dateTemplate.html'"></ng-include>
<ng-include src="'views/vaccinePickerTemplate.html'"></ng-include>
<ng-include src="'views/edit/editTestPlan.html'"></ng-include>
<ng-include src="'views/edit/editTestPlanData.html'"></ng-include>
<ng-include src="'views/edit/editEvent.html'"></ng-include>
<ng-include src="'views/edit/editForecast.html'"></ng-include>
<ng-include src="'views/edit/editPatient.html'"></ng-include>
<div class="row" ng-show="!selectedTestPlan1">
	<div class="col-md-12">
		<p>No Test Case Selected.</p>
	</div>
</div>
<div ng-show="selectedTestPlan1" class="fill">
	<div class="row">
		<div ng-show="!hideLoe" class="col-md-4">
			<div class="panel panel-primary" ng-style="!tpview ? { 'margin-bottom' : '40px' } : {}">
				<div class="panel-heading col-md-12"  layout="row" layout-align="center center" style="background-color: #293856;">
					<div flex="10" style="padding: 0;">
						<button class="btn btn-xs" ng-style="!tpview ? { 'background-color' : '#44bf6b' } : {}" ng-click="tpview = !tpview" style="margin: 0; margin-right: 10px;">
							<i ng-show="!tpview" class="fa fa-eye" aria-hidden="true" style="font-size : 1.8em; color: #2d5634;"></i>
							<i ng-show="tpview" class="fa fa-eye-slash" aria-hidden="true" style="font-size : 1.8em; color: rgb(203, 167, 167);"></i>
						</button>
					</div>
					<div ng-show="changes(selectedTP)" title="Unsaved Changes" layout="row">
						<i class="fa fa-exclamation-triangle unsaved"  aria-hidden="true" style="margin-right: 5px;"></i>
						<i class="fa fa-refresh unsaved" aria-hidden="true"></i>
					</div>

					<div flex="40" style="text-align: center;">
						<strong> Test Browser </strong>
					</div>
					<div flex="50" style="padding: 0;">
						<div class="input-group" style="width : 100%;">
							<span class="input-group-addon"  style="background-color: rgb(240, 240, 240);" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
							<input type="text" class="form-control" ng-model="tcSearch" ng-model-options="{ debounce: 500 }" style="padding-left: 10px; background-color: white; width : 100%;" placeholder="Name, ID, Group"/>
						</div>
					</div>
				</div>
				<div class="panel-body panel-resizable" style="height: 400px;" ng-show="tpview">
					<div style="white-space:nowrap;">
						<ng-include src="'views/testplanTree.html'" />
					</div>
				</div>
			</div>
			<br />
			<div class="panel panel-primary" ng-show="aTCisSelected()" style="margin-top: 10px;">
				<div class="panel-heading panel-heading-collapsable"
					 style="background-color: #293856">
					<strong style="text-align: center">Assessment Date</strong>
				</div>
				<div class="panel-body">
					<div class="toc-container">
						<table class="table table-condensed table-bordered table-hover">
							<tbody>
								<tr>
									<td>
										<div ng-show="selectedTC.dateType === 'FIXED'"  ng-class="{'invalid-date' : !selectedTC.evalDate || !selectedTC.evalDate._dateObj, 'valid-date' : selectedTC.evalDate && selectedTC.evalDate._dateObj}" style="padding: 10px; border: 1px solid #e1e1e1;" layout="row" layout-align="center center">
											<form name="fform">
												<md-input-container>
													<md-datepicker
															ng-model="selectedTC.evalDate._dateObj"
															md-placeholder="Enter date"
															ng-change="dateChangeX(selectedTC.evalDate)" required>
													</md-datepicker>
												</md-input-container>
											</form>
											<div ng-show="selectedTC.evalDate.date" style="font-size: 15px; color: #0740C7; margin-left : 20px;">{{selectedTC.evalDate.date | date : 'fullDate'}}</div>
										</div>
										<div ng-show="selectedTC.dateType === 'RELATIVE'" style="text-align: center; padding: 10px;">
											<strong>Relative Dates</strong>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br />
			<div class="panel panel-primary" ng-show="aTCisSelected()" style="margin-top: 10px;">
				<div class="panel-heading panel-heading-collapsable"
					 style="background-color: #293856">
					<strong style="text-align: center">Patient Information</strong>
				</div>
				<div class="panel-body">
					<div class="toc-container">
						<table class="table table-condensed table-bordered table-hover">
							<tbody>
								<tr ng-click="selectPatient()" style="cursor: pointer;" ng-class="{'sinfo' : patientSelected}">
									<td>
										<table style="width : 100%;">
											<tr style="text-align: center;">
												<td>
													<strong>Gender</strong>
												</td>
												<td>
													{{selectedTC.patient.gender === 'F' ? 'Female' : (selectedTC.patient.gender === 'M' ? 'Male' : '') }}
												</td>
											</tr>
											<tr style="text-align: center;">
												<td>
													<strong>Date Of Birth</strong>
												</td>
												<td style="text-align: center;">
													<div layout="row" layout-align="center center">
														<span ng-if="selectedTC.patient.dob.type === 'fixed'">{{selectedTC.patient.dob.date | date:'MM/dd/yyyy'}}</span>
														<table ng-if="selectedTC.patient.dob.type === 'relative'">
															<tr ng-repeat="rule in selectedTC.patient.dob.rules track by $index">
																<td><span ng-if="$index !== 0"><strong>BUT NOT BEFORE</strong></span></td>
																<td>{{rule.year}} <strong>Years</strong></td>
																<td>{{rule.month}} <strong>Months</strong></td>
																<td>{{rule.day}} <strong>Days</strong></td>
																<td><strong>{{rule.position}}</strong></td>
																<td>
																	<div ng-if="rule.relativeTo.reference === 'static'">
																		{{rule.relativeTo.id === 'DOB' ? 'Birth' : rule.relativeTo.id === 'EVALDATE' ? 'Assessment Date' : '#'}}
																	</div>
																	<div ng-if="rule.relativeTo.reference === 'dynamic'">
																		Vaccination ID # {{rule.relativeTo.id}}
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br />
			<div class="panel panel-primary" ng-show="aTCisSelected()" style="margin-top: 10px;">
				<div class="panel-heading panel-heading-collapsable"
					style="background-color: #293856;">
					<strong style="text-align: center;">Vaccination History and Expected Evaluations</strong>
					<button title="Add Event" type="button"
						class="btn btn-xs btn-info pull-right"
						ng-click="addEvent(); tcChanged()"
						ng-show="aTCisSelected()"
						style="margin: 0px;">
						<span><i class="fa fa-plus fa-fw"></i></span>
					</button>
				</div>
				<div class="panel-body" ng-show="selectedTC.events.length > 0">
					<div class="toc-container">
						<ng-include src="'views/toc.html'" />
					</div>
				</div>
			</div>
			<br />
			<div class="panel panel-primary" ng-show="aTCisSelected()" style="margin-bottom: 100px;">
				<div class="panel-heading panel-heading-collapsable"
					style="background-color: #293856">
					<strong style="text-align: center">Expected Forecasts</strong>
					<button title="Add Forecast" type="button"
						class="btn btn-xs btn-info pull-right"
						style="margin: 0px;"
						ng-show="aTCisSelected()"
						ng-click="addForecast(); tcChanged()">
						<span><i class="fa fa-plus fa-fw"></i></span>
					</button>
				</div>
				<div class="panel-body" ng-show="selectedTC.forecast.length > 0">
					<div class="toc-container">
					<ng-include src="'views/forecasts.html'" />
					</div>
				</div>
			</div>
		</div>

		<div class="fill col-md-8">
			<div class="panel panel-primary" style="background-color: rgb(250, 250, 250);">
				<div class="panel-heading" style="background-color: #293856">
					<strong>Dashboard</strong>
					<button  ng-show="aTCisSelected()" ng-click="summary()" class="btn btn-xs btn-info pull-right" style="margin: 0px;">
						Summary
					</button>
				</div>
				<div class="panel-body panel-resizable"
					style="padding-bottom: 10px; height : 100%; bottom : 0; min-height: 400px;">
					<div class="col-md-12 fill"
						ng-show="subview === null||subview===undefined|| !subview">
						<p>No Element Selected</p>
					</div>

					<div id="edit" ng-show="subview !== undefined" style="width: 100%;">
						<ng-include src="subview"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
