<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestPlanMetadata.html">
	<md-content>
		<md-tabs md-selected="selectedTabTC" md-dynamic-height md-border-bottom>
			<md-tab label="Test Case Information">
				<md-content class="md-padding">
					<form name="testCaseGeneralForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-offset-2 col-md-8"  ng-if="selectedTC.dateType === 'FIXED'">
									<date-choose birth="false" style="margin-bottom: 10px;" nullable="false" type="selectedTC.dateType" label="'Assessment Date'" dt="selectedTC.evalDate" events="selectedTC.events"></date-choose>
								</div>
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Name</label>
										<input ng-model="selectedTC.name" ng-change="tcChanged()" type="text" required/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Group</label>
										<input ng-model-options="{ updateOn: 'blur'}" ng-model="selectedTC.group" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>ID</label>
										<input ng-model="selectedTC.uid" ng-change="tcChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Date Type</label>
										<md-select ng-model="selectedTC._dateType" ng-change="dateTypeChange(selectedTC)" ng-model-options="{trackBy: '$value'}" required>
											<md-option ng-value="'FIXED'">Fix Dates</md-option>
											<md-option ng-value="'RELATIVE'">Relative Dates</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Description</label>
										<textarea style="border: 1px solid rgb(221, 216, 216); padding : 10px;"  ng-model="selectedTC.description" rows="5">
										</textarea>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Patient Information">
				<md-content class="md-padding">
					<form name="patientForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Gender</label>
										<md-select ng-model="selectedTC.patient.gender" ng-model-options="{trackBy: '$value'}" required>
											<md-option ng-repeat=" enum in gender " ng-value="enum.code">{{enum.details}}</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div class="col-md-offset-2 col-md-8">
									<date-choose  birth="true" nullable="false" type="selectedTC.dateType" label="'Date Of Birth'" dt="selectedTC.patient.dob" events="selectedTC.events"></date-choose>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="MetaData">
				<md-content class="md-padding">
					<form name="mdForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-9">
									<md-input-container style="width: 100%;">
										<label>Version</label>
										<input ng-model="selectedTC.metaData.version" ng-change="tcChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-3">
									<md-input-container style="width: 100%;">
										<label>Date Created</label>
										<md-datepicker ng-model="selectedTC.metaData._dateCreated" ng-change="dateChange(selectedTC.metaData,'dateCreated')" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-9">
									<md-input-container style="width: 100%;">
										<label>Type</label>
										<input value="{{selectedTC.metaData.imported ? 'Imported' : 'Created'}}" ng-disabled="true" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-3">
									<md-input-container style="width: 100%;">
										<label>Date Last Updated</label>
										<md-datepicker ng-model="selectedTC.metaData._dateLastUpdated" ng-change="dateChange(selectedTC.metaData,'dateLastUpdated')" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Summary">
				<ng-include src="'views/testView.html'" />
			</md-tab>
		</md-tabs>
	</md-content>
</script>









<!-- <md-input-container style="width: 100%;"> <label>Date -->
<!-- 	Of Birth</label> <md-datepicker ng-model="selectedTC.patient.dob.fixed.obj" -->
<!-- 	md-placeholder="Enter date"></md-datepicker> </md-input-container> -->
