<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestPlanData.html">
	<md-content block-ui="editPanel">
		<md-tabs md-selected="tabs.selectedTabTP" md-dynamic-height md-border-bottom>
			<md-tab label="Test Plan Information">
				<md-content class="md-padding" ng-model-options="{updateOn : 'change blur'}" style="height: 100%;">
					<form name="testplanMetaDataForm" class="form-horizontal" style="height: 100%;" novalidate>
						<div class="row" style="height: 100%;">
							<div class="col-md-12" style="height: 100%;" >
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Name</label>
										<input ng-model="selectedTP.name" ng-change="changedTP(selectedTP)" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Version</label>
										<input ng-model="selectedTP.metaData.version" ng-change="changedTP(selectedTP)" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Creation Date</label>
										<md-datepicker ng-model="selectedTP.metaData._dateCreated" ng-change="dateChange(selectedTP.metaData,'dateCreated')" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Date Last Updated</label>
										<md-datepicker ng-model="selectedTP.metaData._dateLastUpdated" ng-change="dateChange(selectedTP.metaData,'dateLastUpdated')" ng-disabled="true"></md-datepicker>
									</md-input-container>
								</div>
								<div class="col-md-12" style="height: 100%;">
									<md-input-container style="width: 100%; height: 100%;">
										<label>Description</label>
										<textarea style="background-color: rgb(241, 241, 241);" ng-change="changedTP(selectedTP)" ng-model="selectedTP.description" rows="5">
										</textarea>
									</md-input-container>
								</div>
								<div class="col-md-12">
									<md-input-container style="width: 100%;">
										<label>Change Log</label>
										<textarea style="background-color: rgb(241, 241, 241);" ng-change="changedTP(selectedTP)" ng-model="selectedTP.metaData.changeLog" rows="5">
										</textarea>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<!--<md-tab label="Import">-->
			<!--</md-tab>-->
			<!--<md-tab label="Export">-->
			<!--</md-tab>-->
		</md-tabs>
	</md-content>
</script>

<script type="text/ng-template" id="ImportSummary.html">
	<div class="modal-header fits-m-h">
		<h3 class="modal-title">Import Summary</h3>
	</div>
	<div class="modal-body fits-m-b" style="text-align: center; padding: 10px;">
		<table class="table table-condensed table-bordered" style="width: 100%;">
			<thead>
			<tr>
				<th style="text-align: center; background-color : white;">Test Cases Processed</th>
				<th style="text-align: center; background-color : white;">Test Cases Imported</th>
				<th style="text-align: center; background-color : white;">Test Cases With Errors</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td style="text-align: center; background-color : white; "><strong>{{summary.all}}</strong></td>
				<td class="valid-file" style="text-align: center;"><strong>{{summary.imported}}</strong></td>
				<td class="invalid-file" style="text-align: center;"><strong>{{summary.werrors}}</strong></td>
			</tr>
			</tbody>
		</table>
		<table class="table table-condensed table-bordered" style="width: 100%; margin: 0;" ng-repeat="file in summary.files" ng-init="file.showErr = false;">
			<thead>
			<tr ng-class="{ 'invalid-file' : file.errors.length > 0, 'valid-file' :  file.errors.length === 0}">
				<th>
					<div style="width: 100%; height: 40px;" layout="row" layout-align="start center">
						<div flex="80">
							<i ng-show="file.errors.length" class="fa fa-exclamation-circle" style="color: red;" aria-hidden="true"></i>
							<i ng-hide="file.errors.length" class="fa fa-check" style="color: green;" aria-hidden="true"></i>
							<span style="margin-right: 5px;"><strong>{{file.name}}</strong></span>
						</div>
						<div ng-show="file.errors.length" flex="20" layout="row" layout-align="end center">
							<button style="margin : 0px;" class="btn btn-xs pull-right"
									ng-click="file.showErr = !file.showErr">
								<i ng-show="!file.showErr" class="fa fa-eye" aria-hidden="true"
								   style="font-size : 1.5em; color: #2d5634;"></i>
								<i ng-show="file.showErr" class="fa fa-eye-slash" aria-hidden="true"
								   style="font-size : 1.5em; color: rgb(203, 167, 167);"></i>
							</button>
						</div>
					</div>
				</th>
			</tr>
			</thead>
			<tbody ng-if="file.errors.length" ng-show="file.showErr">
			<td>
				<table class="table table-condensed table-bordered" style="width: 100%;">
					<thead>
					<tr>
						<th style="text-align: center;">Location</th>
						<th style="text-align: center;">Error Message</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="error in file.errors">
						<td style="text-align: center;">
							<span ng-show="error.location">{{error.location}}</span></br>
							<span ng-show="error.line">Line   : {{error.line}}</span></br>
							<span ng-show="error.column">Column : {{error.column}}</span>
						</td>
						<td style="text-align: center;">
							{{error.message}}
						</td>
					</tr>
					</tbody>
				</table>
			</td>
			</tbody>
		</table>
	</div>
	<div class="modal-footer" layout="column" layout-align="center start">
		<div style="width: 100%;" layout="row" layout-align="end center">
			<button class="btn btn-info btn-sm" ng-click="dismiss()">
				<span>Ok</span>
			</button>
		</div>
	</div>
</script>
<script type="text/ng-template" id="ImportLoading.html">
	<div layout="column" layout-align="center center" style="padding : 10px;">
		<img src="images/import.gif" />
		<span>Please wait while we are importing TestCases</span>
	</div>
</script>