 <style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestCaseMetadata.html">
    <div class="page-header">
        <span class="header5">TestCase Metadata</span>
    </div>

	<form name="testcaseMetaDataForm" class="form-horizontal" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Name</label>
						<input ng-model="selectedTestCase.name" ng-change="recordChanged()" type="text"/>
					</md-input-container>
				</div>

				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Description</label>
						<input ng-model="selectedTestCase.description" ng-change="recordChanged()" type="text"/>
					</md-input-container>
				</div>
			</div>
			<div ng-show="selectedTestPlan.transport" class="col-md-12">
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Protocol</label>
						<md-select ng-model="selectedTestCase.protocol" ng-change="recordChanged();">
							<md-option ng-value="soap">SOAP</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>
		</div>
	</form>

	<uib-accordion close-others="false">
		<uib-accordion-group is-open="false" panel-class="panel-level2">
			<uib-accordion-heading>
            	<i class="fa" ng-class="{'fa-caret-down': accordi.igList, 'fa-caret-right': !accordi.igList}"></i>
                <i class="fa fa-file-text-o fa-fw"></i> Test Case Story
            </uib-accordion-heading>
			<div class="row" style="margin:10px">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description</label>
						<textarea froala type="text" ng-change="recordChanged()" name="teststorydesc" ng-model="selectedTestCase.testCaseStory.teststorydesc" required />
                    </div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Comments</label>
						<textarea froala type="text" ng-change="recordChanged()" name="comments" ng-model="selectedTestCase.testCaseStory.comments" required />
                    </div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Pre Condition</label>
						<textarea froala type="text" ng-change="recordChanged()" name="preCondition" ng-model="selectedTestCase.testCaseStory.preCondition" required />
                    </div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Post Condition</label>
						<textarea froala type="text" ng-change="recordChanged()" name="postCondition" ng-model="selectedTestCase.testCaseStory.postCondition" required />
                    </div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Test Objectives</label>
						<textarea froala type="text" ng-change="recordChanged()" name="testObjectives" ng-model="selectedTestCase.testCaseStory.testObjectives" required />
                    </div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Evaluation Criteria</label>
						<textarea froala type="text" ng-change="recordChanged()" name="evaluationCriteria" ng-model="selectedTestCase.testCaseStory.evaluationCriteria" required />
                    </div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Notes</label>
						<textarea froala type="text" ng-change="recordChanged()" name="notes" ng-model="selectedTestCase.testCaseStory.notes" required />
                    </div>
				</div>

			</div>
		</uib-accordion-group>
	</uib-accordion>

</script> 