<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<md-content class="md-padding" style="padding-bottom: 50px;" layout="column" layout-align="center center">

    <!--FIRST SECTION (MINE)-->
    <div style="width: 100%;" layout="row" layout-align="start center">
        <div flex="50">
            <span ng-show="accordi.tpList"><h3><strong>My Test Plans</strong></h3></span>
        </div>
        <div flex="50" layout="row" layout-align="end center">
            <button ng-show="accordi.tpList" type="button" class="btn btn-info btn-sm pull-right no-margin"
                    ng-click="newTestPlan()">
                <i class="fa fa-plus"> </i>
                New
            </button>
        </div>
    </div>

    <md-list style="width: 100%;" ng-show="!loading && tps.length > 0">
        <md-list-item ng-repeat="tp in tps" layout="row" layout-align="start"
                      md-whiteframe="2" class="hov"
                      style="border-top : 1px solid #dddddd; border-right : 1px solid #dddddd; border-left : 1px solid #dddddd; background-color: white; padding-top: 5px;padding-bottom: 5px;"
                      ng-style="$index === tps.length - 1 ? { 'border-bottom' : '1px solid #dddddd' } : {}">
            <div flex="90" layout="row" layout-align="start" ng-click="openTP(tp)">
                <div flex="25" layout="column" layout-align="center center">
                    <span>
			<span ng-if="tp.public" class="badge" style="margin-right: 10px; background-color: green;">Public</span>
                        <strong>{{tp.name}}</strong>
			<span class="label label-case label-icon" style="margin-left: 10px; color: black; font-size: 13px;">{{calculateTC(tp)}}</span>
                    </span>
                </div>
                <div flex="30" layout="column" layout-align="center center" style="text-align: center;">
                    {{tp.description}}
                </div>
                <div flex="20" layout="column" layout-align="start start">
                    <span>
                        <strong>Created On </strong>{{tp.metaData.dateCreated | date:'MM/dd/yyyy' : 'UTC'}}
                    </span>
                    <span>
                        <strong>Last Updated On </strong>{{tp.metaData.dateLastUpdated | date:'MM/dd/yyyy' : 'UTC'}}
                    </span>
                    <span>
                        <strong>Version </strong>{{tp.metaData.version}}
                    </span>
                </div>
                <div flex="15" layout="column" layout-align="start start">
                    <span>
                        <strong>Owner </strong>
                    </span>
                    <span>
                        <i class="fa fa-user" style="color: darkgreen;" aria-hidden="true"></i> {{tp.user}}
                    </span>
                </div>
                <div flex="10" layout="column" layout-align="start start">
                    <div style="width: 100%;" ng-show="tp.viewers.length > 0" layout="column"
                         layout-align="start start">
			<span>
			    <strong>Shared With</strong>
                    	</span>
                        <span ng-repeat="viewer in tp.viewers">
			    <i class="fa fa-user" style="color: saddlebrown;" aria-hidden="true"></i> {{viewer}}
                    	</span>
                    </div>
                </div>
            </div>
            <div flex="10" style="padding-left: 20px;" layout="row" layout-align="end start" layout-wrap>
                <button type="button" class="btn btn-sm btn-danger "
                        ng-click="confirmDeleteTestPlan(tp)" style="margin-top: 5px; margin-bottom: 0;">
                    <span><i class="fa fa-trash-o fa-fw"></i></span>
                </button>
                <button type="button" class="btn btn-sm btn-info "
                        ng-click="sharePanel(tp)" style="margin-top: 5px; margin-bottom: 0;">
                    <span><i class="fa fa-share-alt"></i></span>
                </button>
                <button type="button" class="btn btn-sm btn-primary "
                        ng-disabled="!entityUtils.inSynch(tp)"
                        ng-click="cloneTestPlan(tp)" style="margin-top: 5px; margin-bottom: 0;">
                    <span><i class="fa fa-file"></i></span>
                </button>
            </div>
        </md-list-item>
    </md-list>

    <!--None-->
    <div style="text-align: center; color: #a0a0a0;" ng-show="!loading && tps.length === 0">
        <strong>No Test Plan available.<br> Create one by clicking on the [New] button</strong>
    </div>

    <!--SECOND SECTION (SHARED)-->
    <div ng-show="vTps.length > 0" style="width: 100%;" layout="row" layout-align="start center">
        <div flex="50">
            <span ng-show="accordi.tpList"><h3><strong>Shared with me</strong></h3></span>
        </div>
    </div>

    <md-list style="width: 100%;" ng-show="!loading && vTps.length > 0">
        <md-list-item ng-repeat="tp in vTps" layout="row" layout-align="start"
                      md-whiteframe="2" class="hov"
                      style="border-top : 1px solid #dddddd; border-right : 1px solid #dddddd; border-left : 1px solid #dddddd; background-color: white; padding-top: 5px;padding-bottom: 5px;"
                      ng-style="$index === tps.length - 1 ? { 'border-bottom' : '1px solid #dddddd' } : {}">
            <div flex="90" layout="row" layout-align="start" ng-click="viewTP(tp)">
                <div flex="25" layout="column" layout-align="center center">
                    <span>
                        <strong>{{tp.name}}</strong><span class="label label-case label-icon"
                                                          style="margin-left: 10px; color: black; font-size: 13px;">{{calculateTC(tp)}}</span>
                    </span>
                </div>
                <div flex="30" layout="column" layout-align="center center" style="text-align: center;">
                    {{tp.description}}
                </div>
                <div flex="20" layout="column" layout-align="start start">
                    <span>
                        <strong>Created On </strong>{{tp.metaData.dateCreated | date:'MM/dd/yyyy' : 'UTC'}}
                    </span>
                    <span>
                        <strong>Last Updated On </strong>{{tp.metaData.dateLastUpdated | date:'MM/dd/yyyy' : 'UTC'}}
                    </span>
                    <span>
                        <strong>Version </strong>{{tp.metaData.version}}
                    </span>
                </div>
                <div flex="15" layout="column" layout-align="start start">
                    <span>
                        <strong>Owner </strong>
                    </span>
                    <span>
                        <i class="fa fa-user" style="color: darkgreen;" aria-hidden="true"></i> {{tp.user}}
                    </span>
                </div>
                <div flex="10" layout="column" layout-align="start start">
                    <!--<div style="width: 100%;" ng-show="tp.viewers.length > 0" layout="column" layout-align="start start">-->
                    <!--<span>-->
                    <!--<strong>Shared With</strong>-->
                    <!--</span>-->
                    <!--<span ng-repeat="viewer in tp.viewers">-->
                    <!--<i class="fa fa-user" style="color: saddlebrown;" aria-hidden="true"></i> {{viewer}}-->
                    <!--</span>-->
                    <!--</div>-->
                </div>
            </div>
            <div flex="10" style="padding-left: 20px;" layout="row" layout-align="end start" layout-wrap>
                <!--<button type="button" class="btn btn-sm btn-success "-->
                <!--ng-click="view(tp)" style="margin-top: 5px; margin-bottom: 0;">-->
                <!--<span><i class="fa fa-search"></i></span>-->
                <!--</button>-->
                <button type="button" class="btn btn-sm btn-primary "
                        ng-disabled="!entityUtils.inSynch(tp)"
                        ng-click="cloneTestPlan(tp)" style="margin-top: 5px; margin-bottom: 0;">
                    <span><i class="fa fa-file"></i></span>
                </button>
            </div>
        </md-list-item>
    </md-list>

    <!--Loading-->
    <div ng-show="loading" style="text-align:center">
        <i class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>

</md-content>

