<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<!-- <div class="row"> -->
<!-- <ul> -->
<!-- <li ng-repeat=" i in ::it "><strong>{{i.x}}</strong> -->
<!-- <button ng-click="editT(i)"> -->
<!-- Edit -->
<!-- </button> -->
<!-- </li> -->
<!-- </ul> -->

<!-- <button ng-click="addT()"> -->
<!-- ADD -->
<!-- </button> -->

    <div ng-hide="loading">
        <div class="col-md-12">
            <div ng-show="error === null">
                <table st-table="tmpTps" st-safe-src="tps" class="smart-table table table-striped table-bordered">
                    <thead>
                        <tr class="tbl-header">
                            <th st-ratio="5">#</th>
                            <th st-ratio="20" st-sort="name">Name</th>
                            <th st-ratio="30" st-sort="description">Description</th>
                            <th st-ratio="15" st-sort="version">Version</th>
                            <th st-ratio="15" st-sort="lastUpdateDate">Date</th>
                            <th st-ratio="15">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in tmpTps track by $index">
                            <td st-ratio="5">{{$index + 1}}</td>
                            <td st-ratio="20" ng-bind="row.name"></td>
                            <td st-ratio="30" ng-bind="row.description"></td>
                            <td st-ratio="15" ng-bind="row.metaData.version"></td>
   							<td st-ratio="15" ng-bind="row.metaData.dateCreated.fixed.date | date:'MM/dd/yyyy'"></td>
                            <td st-ratio="15">
                        	    <button title="Select"
                                    type="button" class="btn btn-xs btn-info no-margin"
                                    ng-click="selectTP(row)">
                                        <span><i class="fa fa-pencil fa-fw"></i></span>
                                </button>
                                <button title="Delete" type="button" class="btn btn-xs btn-danger no-margin"
                                    ng-click="confirmDeleteTestPlan(row)">
                                    <span><i class="fa fa-trash-o fa-fw"></i></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div ng-show="loading" style="text-align:center">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>

</div>