<style id="antiClickjack">body {
	display: none !important;
}</style> <script type="text/javascript">if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}</script> <script type="text/ng-template" id="EditTestPlanData.html"><md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Test Plan Information">
				<md-content class="md-padding">         
					<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-8">
									<md-input-container style="width: 100%;">
										<label>Name</label>
										<input ng-model="selectedTP.name" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-4">
									<md-input-container style="width: 100%;">
										<label>Creation Date</label>
										<md-datepicker ng-model="selectedTP.metaData.dateCreated.fixed.obj" ng-disabled="true" md-placeholder="Enter date" ng-change="dateChange(selectedTP.metaData.dateCreated.fixed)"></md-datepicker>
									</md-input-container>
								</div>
								<div class="col-md-6">
									<md-input-container style="width: 100%;">
										<label>Description</label>
										<input ng-model="selectedTP.description" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
								<div class="col-md-6">
									<md-input-container style="width: 100%;">
										<label>Version</label>
										<input ng-model="selectedTP.metaData.version" ng-change="recordChanged()" type="text"/>
									</md-input-container>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Import">
				<md-content class="md-padding">
					<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6">
									<md-input-container style="width: 100%;">
										<label>Format Type</label>
										<md-select name="sl" id="sl" ng-model="exportType"> 
											<md-option ng-value="NIST">NIST</md-option>
											<md-option ng-value="CDC">CDC SpreadSheet</md-option>
 										</md-select>
									</md-input-container>
								</div>
								<div class="col-md-6">
									<div class="btn btn-primary" style="width : 100%">
										<i class="fa fa-file pull-left" aria-hidden="true"></i>
										<span>{{sfile}}</span> 
										<input type="file" class="upload" onchange="angular.element(this).scope().fileChange(this.files)"/>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<button ng-click="upload()" class="btn btn-info" style="width : 100%">Import</button>
								</div>
							</div>
						</div>
					</form>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content></script>